body {
    border: 2px solid red;
    height: 100vh;
    margin: 0;
}

.parent-player {
    height: 100vh;
    display: flex;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-play {
    display: flex;
    justify-content: space-evenly;
}

.btn-pause {
    display: flex;
    justify-content: space-evenly;
}

button {
    display: flex;
}